<form method="POST" id="workTypeFormModal" action="{{ url_for('main.add_work_type') }}">
    {{ form.hidden_tag() }}
    <div class="mb-3">
        {{ form.name.label(class="form-label") }}
        {{ form.name(class="form-control" + (' is-invalid' if form.name.errors else '')) }}
        {% for error in form.name.errors %}
            <div class="invalid-feedback">{{ error }}</div>
        {% endfor %}
    </div>
    <div class="mb-3">
        {{ form.id_kategorii.label(class="form-label") }}
        <div class="input-group">
            {{ form.id_kategorii(class="form-select select2-enable" + (' is-invalid' if form.id_kategorii.errors else ''), id='work_type_category_select_modal') }}
            <button type="button" class="btn btn-outline-secondary js-open-secondary-modal"
                        data-url="{{ url_for('main.add_category') }}"
                        data-title="Dodaj nową kategorię">
                    <i class="bi bi-plus-circle"></i>
                </button>
            {% for error in form.id_kategorii.errors %}
                <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
        </div>
    </div>
    <button type="submit" class="btn btn-primary">{{ form.submit.label }}</button>
</form>