{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5 class="card-title">{{ title }}</h5>
                 <a href="{{ url_for('main.new_phone_type') }}" class="btn btn-success btn-sm">
                    <i class="bi bi-plus-circle"></i> Dodaj nowy typ telefonu
                </a>
            </div>
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nazwa</th>
                            <th>Akcje</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in items %}
                        <tr>
                            <td>{{ item.id_telefon_typ }}</td>
                            <td>{{ item.typ_telefonu }}</td>
                            <td>
                                <a href="{{ url_for('main.edit_phone_type', id=item.id_telefon_typ) }}" class="btn btn-sm btn-primary">Edytuj</a>
                                <form action="{{ url_for('main.delete_phone_type', id=item.id_telefon_typ) }}" method="POST" style="display: inline;">
                                    <button type="submit" class="btn btn-sm btn-danger" onclick="return confirm('Czy na pewno chcesz usunąć ten typ telefonu?');">Usuń</button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}