{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2>{{ title }}</h2>
        <a href="{{ url_for('main.new_project') }}" class="btn btn-success btn-sm"><i class="bi bi-plus-circle"></i>Dodaj nowy projekt</a>
    </div>

    <div class="table-responsive">
        <table class="table table-striped table-responsive-stacking">
        <thead>
            <tr>
                <th>Nazwa projektu</th>
                <th>Skrót</th>
                <th>Rodzaj</th>
                <th>Uwagi</th>
                <th class="text-end">Akcje</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td data-label="Nazwa projektu">{{ item.nazwa_projektu }}</td>
                <td data-label="Skrót">{{ item.skrot if item.skrot else '-' }}</td>
                <td data-label="Rodzaj">{{ item.rodzaj if item.rodzaj else '-' }}</td>
                <td data-label="Uwagi">{{ item.uwagi if item.uwagi else '-' }}</td>
                <td data-label="Akcje" class="text-end">
                    <a href="{{ url_for('main.edit_project', id=item.id) }}" class="btn btn-sm btn-primary action-btn">
                        <i class="bi bi-pencil-square"></i> <span class="btn-text">Edytuj</span>
                    </a>
                    <form action="{{ url_for('main.delete_project', id=item.id) }}" method="post" style="display: inline;">
                        <button type="submit" class="btn btn-sm btn-danger action-btn" onclick="return confirm('Czy na pewno chcesz usunąć ten projekt?');">
                             <i class="bi bi-trash"></i> <span class="btn-text">Usuń</span>
                        </button>
                    </form>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="5">Brak zdefiniowanych projektów.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}